body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #000;
  animation-name: appearance;
  animation-duration: 1s;
}

p, h1, h2, h3, h4, h5, h6, a{
  color: white;
  font-family: Trebuchet MS;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

header {
  display: inline;
  background: #000;
}

.single-news h3{
  animation-name: slideLeft;
  animation-duration: 1s;
}

.header-main {
  flex-direction: row;
  padding-top: 0;
}

#logo_picture {
  width: 250px;
  height: 53px;
  vertical-align: middle;
  animation-name: appearance;
  animation-duration: 2s;
}

@keyframes appearance {
  from {opacity: 0;}
  to {opacity: 100}
}

.nav-main-item {
  display: inline;
}

.nav-main-item a {
  display: inline;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 53px;
  font-family: Trebuchet MS;
}

.menu_nav  {
  display: flex;
  margin-top: 0;
}

a:hover{
  background-color: #BC0000;
  color: white;
  animation-name: reference;
  animation-duration: 0.5s;
}

@keyframes reference {
  from {background-color: #000;}
  to {background-color: #BC0000;}
}

.navbar-nav {
  margin: 0px;
  display: flex;
  align-items: center;
}

.navbar-nav li{
  margin: 0px;
  display: flex;
  align-items: center;
}

.submenu {
  display: none;
  position: absolute;
  top:62px;
  background-color: #000;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#for-fans-drop-down:hover .submenu{
  display: block;
}

#for-fans-drop-down {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.submenu a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}

.submenu a:hover {
  background-color: #BC0000;
  color: white;
}

.photo-band img {
  width: 100%;
  text-align: center;
}

.photo-band {
  text-align: center;
  margin-top: 40px;
}

.band_info {
  font-size: large;
  margin-left: 30px;
  margin-right: 30px;
}

.band_info_h {
  font-size: large;
  margin: 1.556em 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.band_info h2 {
  text-align: center;
}

.album-photo img {
  text-align: center;
  width: 50%;
}

.album-photo {
  text-align: center;
}

footer {
  background: #222;
  width: 100%;
  bottom: 0;
}

.copyright p {
  margin-bottom:0px;
  margin-top: 0px;
}

.single-news h3, p {
  text-align: center;
  margin-top: 10px;
}

.single-news img {
  text-align: center;
  width:100%;
}

.news-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.navbar {
  z-index: 9999;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

div#collapsibleNavbar.navbar-collapse.collapse {
  justify-content: center;
}

.user-info {
  display: block;
  text-align: center;
}

.feedback {
  text-align: center;
}

.feedback-row {
  margin-top: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 0;
}

.place {
  text-align: center;
  margin-top: 10px;
}

.buy-button {
  width: 50%;
  height: 40px;
  border: black;
  color: white;
  background-color: #BC0000;
  margin-bottom: 20px;
  border-radius: 10px;
}

.place:hover button {
  width: 50%;
  height: 40px;
  border: black;
  color: white;
  background-color: #c43e00;
  margin-bottom: 20px;
  border-radius: 10px;
}

.admin-tools {
  text-align: center;
  display: block;
}

.add-button {
  width: 40%;
  height: 30px;
  background-color: #BC0000;
  color: white;
  border-radius: 10px;
  border: black;

}

.title-input {
  width: 100%;
  border: black;
  border-radius: 10px;
}

.body-input {
  width: 100%;
  border: black;
  border-radius: 10px;
  margin-top: 30px;
  height: 160px;
}

input::placeholder {
  padding-left: 10px;
  text-align: center;
}

.tour-image {
  text-align: center;
}

.tour-image img{
  width:100%;
}

table.tour-table {
   margin-left:auto;
   margin-right:auto;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
   text-align: center;
   color: white;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}

.admin-footer {
  bottom: 0;
  position: fixed;
}

.internet-av {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.get-main {
  text-align: center;
}

.get-main a {
  width: 50%;
  height: 40px;
  border: black;
  font-size: large;
  color: white;
  background-color: #BC0000;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
  text-decoration: none;
  animation-name: none;
}

.get-main a:hover {
  background-color: #c43e00;
}